{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap-datepicker.css' %}">
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow">
            <div class="card-body">
                <!-- <article class="media content-section"> -->
                <h2>Add Patient</h2>
                <!-- <p>The form below shows input elements with different widths using different .col-xs-* classes:</p> -->
                <form action="." method="post" class="save_patient" name="patient_form">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="first_name">First Name*</label>
                            <input class="form-control" name="first_name" id="first_name" type="text" required>
                        </div>
                        <div class="col-3">
                            <label for="last_name">Last Name*</label>
                            <input class="form-control" name="last_name" id="last_name" type="text" required>
                        </div>
                        <div class="col-3">
                            <label for="date_of_birth">Date of Birth*</label>
                            <div class="input-group">
                                <div class="input-group date">
                                <input class="form-control"  name="date_of_birth" id="date_of_birth" type="text"  placeholder="mm/dd/yyyy" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" disabled="">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                </div>

                                <!-- <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" disabled="">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div> -->
                            </div>
                            <!-- <input data-toggle="datepicker" class="form-control" name="date_of_birth" id="date_of_birth" type="text"> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-1">
                            <a class="btn btn-info cancel_add_patient_btn" href="#" name="button">Cancel</a>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-success save_patient_btn" type="submit" name="button">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- </article> -->
<script type="text/javascript" src="{% static "core/js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript">
    // var today = new Date();
    // var dd = String(today.getDate()).padStart(2, '0');
    // var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    // var yyyy = today.getFullYear();
    // today = mm + '/' + dd + '/' + yyyy;
    // $(function() {
    //     $('[data-toggle="datepicker"]').datepicker({
    //         autoHide: true,
    //         // zIndex: 2048,
    //         format: 'mm/dd/yyyy',
    //         endDate: today,
    //     });
    // });
    $('.input-group.date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        // defaultViewDate: { year: 1977, month: 04, day: 25 }
    });

    $('.cancel_add_patient_btn').click(function() {
        event.preventDefault();
        create_patient_list_page();
    });

    $(document).on('submit', '.save_patient', function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax-add-patient-page' %}",
                data: $(this).serialize(),
                datatype: 'json',
                success: function(response) {
                    create_patient_list_page();
                },
                error: function(rs, e) {
                    console.log(rs.responseText);
                },
            });
        });
</script>
