{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap-datepicker.css' %}">
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow">

            <div class="card-body">

                <h2>Edit Patient Details</h2>
                <!-- <article class="media content-section"> -->
                <form action="." method="POST" class="save_update_patient" name="patient_form">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="first_name">Name</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" name="first_name" id="first_name" type="text" value="{{patient.first_name}}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="date_of_birth">Date of Birth</label>
                        </div>
                        <div class="col-3">
                            <div class="input-group date">
                            <input class="form-control"  name="date_of_birth" id="date_of_birth" type="text" value="{{patient.date_of_birth|date:'m/d/Y'}}" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" disabled="">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="col-3">
                            <select name="gender" id="gender" class="gender form-control">
                                {% if patient.gender == 'None' %}
                                <option selected>None</option>
                                {% else %}
                                <option>None</option>
                                {% endif %}
                                {% if patient.gender == 'Male' %}
                                <option selected>Male</option>
                                {% else %}
                                <option>Male</option>
                                {% endif %}
                                {% if patient.gender == 'Female' %}
                                <option selected>Female</option>
                                {% else %}
                                <option>Female</option>
                                {% endif %}
                                {% if patient.gender == 'Transgender' %}
                                <option selected>Transgender</option>
                                {% else %}
                                <option>Transgender</option>
                                {% endif %}
                                {% if patient.gender == 'I prefer not to say' %}
                                <option selected>I prefer not to say</option>
                                {% else %}
                                <option>I prefer not to say</option>
                                {% endif %}
                            </select>
                            <!-- <input class="form-control" name="gender" id="gender" type="text" > -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-1">
                            <a class="btn btn-info cancel_update_patient_btn" href="{% url 'list-patient' %}" name="button">Cancel</a>
                        </div>
                        <div class="col-2">
                            <input type="hidden" name="patient_id" id="patient_id" value="{{patient.id}}">
                            <button class="btn btn-success" type="submit" name="button">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- </article> -->
    {% endblock content %}

    {% block js %}
    <script type="text/javascript" src="{% static "core/js/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript">
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;

        $('.input-group.date').datepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
            // defaultViewDate: { year: 1977, month: 04, day: 25 }
        });
        // $(function() {
        //     $('[data-toggle="datepicker"]').datepicker({
        //         autoHide: true,
        //         // zIndex: 2048,
        //         format: 'mm/dd/yyyy',
        //         endDate: today,
        //     });
        // });

        $('.cancel_update_patient_btn').click(function() {
            event.preventDefault();
            create_patient_list_page();
        });

        $(document).on('submit', '.save_update_patient', function(event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'ajax-patient-update-page' %}",
                    data: $(this).serialize(),
                    datatype: 'json',
                    success: function(response) {
                        create_patient_list_page();
                    },
                    error: function(rs, e) {
                        console.log(rs.responseText);
                    },
                });
            });
    </script>
    {% endblock js %}
