{% extends "core/base.html" %}
{% block content %}
<div id="main_content">
    {% include 'core/list_patients.html' %}
</div>
{% endblock content%}
{% block js %}
<script type="text/javascript">
    // create_patient_list_page();
    $( ".datepicker-container, .datepicker-dropdown, .datepicker-top-left, .datepicker-hide" ).hide();
    window.history.pushState({"html":$('body').html()},"", '/dashboard/view/');
    function create_add_patient_page(){

        $.ajax({
            type: 'GET',
            url: "{% url 'ajax-add-patient-page' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            datatype: 'json',
            success: function(response) {
                $('#main_content').html(response['html']);
                window.history.pushState({"html":$('body').html()},"", '/dashboard/add/');
            }
        });

    }

    function create_patient_list_page(){
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax-patient-list-page' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            datatype: 'json',
            success: function(response) {

                $('#main_content').html(response['html']);
                window.history.pushState({"html":$('body').html()},"", '/dashboard/view/');
            }
        });
    }

    function create_patient_detail_page(p_url){
        $.ajax({
            type: 'GET',
            url: p_url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            datatype: 'json',
            success: function(response) {
                $('#main_content').html(response['html']);
                window.history.pushState({"html":$('body').html()},"", p_url);
            }
        });
    }

    function create_patient_update_page(p_url){
        $.ajax({
            type: 'GET',
            url: p_url,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            datatype: 'json',
            success: function(response) {
                $('#main_content').html(response['html']);
                window.history.pushState({"html":$('body').html()},"", p_url);
            }
        });
    }

    window.onpopstate = function(e){
        if(e.state){
            $('body').html(e.state.html)
        }
    };
    document.addEventListener("turbolinks:before-cache", function() {
      table.destroy();
    });
</script>
{% endblock js %}
