{% load static %}
{% block css %}
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<style>
    .pagination>li>a,
    .pagination>li>span {
        background-color: white
    }

    <!-- .pagination>li.active>a,
    .pagination>li.active>span {
        background-color: green
    } -->
    .page-item.active .page-link{
        background-color: #173795
    }
</style>

{% endblock css %}


{% block content %}
<div class="row mt-5">
    <div class="mt-5 col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow">
            <div class="card-body">
                <!-- <article class="media content-section"> -->
                <!-- <h2>List of Patients</h2> -->
                <div class="row">
                    <div class="col-1" style="margin: auto 0 auto auto;">
                        <a class="simple_anchor add_patient_aj" href="{% url 'add-patient' %}"><i class="fa fa-user-plus fa-2x" aria-hidden="false"></i></a>
                    </div>
                </div>

                <!-- <p>The form below shows input elements with different widths using different .col-xs-* classes:</p> -->
                <table id="patient_list" class="display table table-bordered" style="width:100%">
                    <thead class="" style="background-color:#173795; color:white;">
                        <tr>
                            <th>Patient Name</th>
                            <th>Date of Birth</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id='patient_list_tb'>
                        {% for patient in patient_list %}
                        <tr>
                            <td> {{patient.first_name}} </td>
                            <td> {{patient.date_of_birth}} </td>
                            <td> <a class="aj_view_patient" style="text-decoration: none;" href="/dashboard/detail/?patient_id={{patient.id}}" name="view">View</a> <a class="ajax_link1 ml-4" style="color:red; text-decoration: none;" href="{{patient.id}}" name="delete">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- </article> -->
{% endblock content %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    var table;
    $(document).ready(function() {
        table = $('#patient_list').DataTable({
            searching: false, "bStateSave": true
        });
        // get_table_data();

        $('.aj_view_patient').click(function() {
            event.preventDefault();
            console.log($(this).attr('href'))
            create_patient_detail_page($(this).attr('href'));
        });

        $('.ajax_link1').click(function() {
            event.preventDefault();
            // console.log(get);
            $.ajax({
                type: 'POST',
                url: "{% url 'delete-patient' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'patient_id': $(this).attr('href')
                },
                datatype: 'json',
                success: function(response) {
                    get_table_data();
                }
            });
            // or alert($(this).hash();
        });
    });

    $('.add_patient_aj').click(function() {
        event.preventDefault();
        create_add_patient_page();
    });

    function get_table_data() {
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax-list-patient' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            datatype: 'json',
            success: function(response) {
                res = response['table_html'];
                table = $('#patient_list').DataTable().clear().destroy();
                $('#patient_list').html(res);
                table = $('#patient_list').DataTable({
                    searching: false, "bStateSave": true
                });
            }
        });
    }
</script>
{% endblock js %}
