{% extends "core/base.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock css %}


{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow">
            <div class="card-body">
                <!-- <article class="media content-section"> -->
                <h2>List of Patients</h2>
                <!-- <p>The form below shows input elements with different widths using different .col-xs-* classes:</p> -->
                <table id="patient_list" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Date of Birth</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id='tb_SummaryYearly'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- </article> -->
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var table;
    $(document).ready(function() {
        table = $('#patient_list').DataTable({searching: false});
        get_table_data();

    });
    $('#patient_list tbody').on( 'click', 'button', function () {
        var data = table.row( $(this).parents('tr') ).data();
        alert( data[0] +"'s salary is: "+ data[2] );
    } );
    function get_table_data(){
        $.ajax({
                type: 'POST',
                url: "{% url 'list-patient' %}",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                datatype: 'json',
                success: function(response) {
                    res = response['patient_list'];
                    $('#patient_list tbody').empty();
                    $('#patient_list').DataTable().clear();
                    $('#patient_list').DataTable().destroy();
                    if (res.length > 0) {
                        for(i=0; i<res.length; i++){
                            console.log(res[i]);
                            $('#patient_list').append(
                                $('<tr>').append()
                                    .append($('<td>').append(res[i]["first_name"]))
                                    .append($('<td>').append(res[i]["date_of_birth"]))
                                    .append($('<td>').append('<a class="btn btn-info" href="#" name="button">Edit</a> <a class="btn btn-info" href="#" name="button">Delete</a>'))
                            )
                        }
                        table = $('#patient_list').DataTable({searching: false});

                    }
                }
            });
    }

</script>
{% endblock js %}
